# Data Loading and Massaging
## Pandas

### Author: Andrew H. Fagg (andrewhfagg@gmail.com)

This example assumes that there is already a shortcut to MLP_2022 from your Drive

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive

# Figure params

FIGURESIZE=(10,6)
FONTSIZE=18

In [2]:
# Mount your Google Drive into the local virtual machine file system (will give a warning if already mounted)
# If asked, follow the directions to authenticate with your Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Load a baby dataset
fname = '/content/drive/MyDrive/MLP_2022/datasets/baby1/subject_k1_w10_hw2.csv'
infant_data = pd.read_csv(fname)

In [4]:
# Look at first few rows of the data
infant_data.head()

   time  left_wrist_x  ...  right_wrist_y  right_wrist_z
0  0.00           NaN  ...      -0.113438      -0.154972
1  0.02           NaN  ...      -0.113476      -0.154807
2  0.04           NaN  ...      -0.113521      -0.154429
3  0.06           NaN  ...      -0.113555      -0.154063
4  0.08      0.163611  ...      -0.113534      -0.153886

[5 rows x 7 columns]

In [5]:
infant_data.describe()

               time  left_wrist_x  ...  right_wrist_y  right_wrist_z
count  15000.000000  13458.000000  ...   13514.000000   13514.000000
mean     149.990000      0.243580  ...      -0.120768      -0.207248
std       86.605427      0.084823  ...       0.047123       0.054263
min        0.000000      0.027525  ...      -0.275120      -0.311197
25%       74.995000      0.177911  ...      -0.140773      -0.245453
50%      149.990000      0.251879  ...      -0.111330      -0.216992
75%      224.985000      0.308732  ...      -0.085764      -0.158773
max      299.980000      0.389957  ...      -0.040851      -0.007693

[8 rows x 7 columns]